{% extends "base.html" %}

{% block content %}

<div class="container">

    <h3>Instellingen</h3>


    <!-- ===================================================== -->
    <!-- EVENEMENT / API INSTELLINGEN                          -->
    <!-- ===================================================== -->

    <h4>Evenement instellingen</h4>

    <form method="POST">

        <!-- Tell Flask which form was submitted -->
        <input type="hidden" name="action" value="event">


        <!-- API Key -->
        <div class="input-field col s12">

            <input
                id="API_key"
                name="API_key"
                type="text"
                value="{{ config_load.API_key or '' }}"
            >

            <label for="API_key">
                API Key
            </label>

        </div>


        <!-- API competitioninfo -->
        <div class="input-field col s12">

            <input
                id="API_competitioninfo"
                name="API_competitioninfo"
                type="text"
                value="{{ config_load.API_competitioninfo or '' }}"
            >

            <label for="API_competitioninfo">
                API Competition Info
            </label>

        </div>


        <!-- API events -->
        <div class="input-field col s12">

            <input
                id="API_events"
                name="API_events"
                type="text"
                value="{{ config_load.API_events or '' }}"
            >

            <label for="API_events">
                API Events
            </label>

        </div>


        <!-- Event ID -->
        <div class="input-field col s12">

            <input
                id="EVENEMENT_ID"
                name="EVENEMENT_ID"
                type="number"
                value="{{ config_load.EVENEMENT_ID or '' }}"
            >

            <label for="EVENEMENT_ID">
                Evenement ID
            </label>

        </div>


        <!-- Save event -->
        <button
            class="btn"
            type="submit"
        >
            Evenement opslaan
        </button>

    </form>


    <br>
    <br>


    <!-- ===================================================== -->
    <!-- ETAPPE INSTELLINGEN                                   -->
    <!-- ===================================================== -->

    <h4>Etappe instellingen</h4>

    <form method="POST">

        <!-- Tell Flask which form was submitted -->
        <input type="hidden" name="action" value="etappe">


        <!-- ================================================= -->
        <!-- WISSELPUNTPLOEG                                    -->
        <!-- ================================================= -->

        <div class="input-field col s12">

            <select
                id="checkpointteam"
                name="checkpointteam"
            >

                <!-- Current value -->
                <option
                    value="{{ config_load.checkpointteam }}"
                    selected
                >
                    {{ config_load.checkpointteam }}
                </option>


                <!-- Other possible values -->
                {% for optie in config_load.checkpointteam_list %}

                    {% if optie != config_load.checkpointteam %}

                        <option value="{{ optie }}">
                            {{ optie }}
                        </option>

                    {% endif %}

                {% endfor %}

            </select>

            <label>
                Selecteer Wisselpuntploeg
            </label>

        </div>


        <!-- ================================================= -->
        <!-- ETAPPE                                             -->
        <!-- ================================================= -->

        <div class="input-field col s12">

            <select
                id="checkpoint"
                name="etappe_volgnummer"
            >

                <!-- Current etappe -->
                {% if config_load.ETAPPE_VOLGNUMMER %}

                    <option
                        value="{{ config_load.ETAPPE_VOLGNUMMER }}"
                        selected
                    >
                        {{ config_load.ETAPPE_VOLGNUMMER }}
                        :
                        {{ config_load.ETAPPE_NAAM }}
                    </option>

                {% endif %}


                <!-- Available etappes -->
                {% for etappe_volgnummer in config_load.ETAPPE_LIST.ETAPPE_VOLGNUMMER_list %}

                    {% if etappe_volgnummer|string != config_load.ETAPPE_VOLGNUMMER|string %}

                        <option
                            value="{{ etappe_volgnummer }}"
                        >
                            {{ etappe_volgnummer }}
                            :
                            {{ config_load.ETAPPE_LIST.ETAPPE_NAAM_list[loop.index0] }}
                        </option>

                    {% endif %}

                {% endfor %}

            </select>

            <label>
                Selecteer Etappe
            </label>

        </div>


        <!-- Save etappe -->
        <button
            class="btn"
            type="submit"
        >
            Etappe opslaan
        </button>

    </form>

</div>


<!-- ========================================================= -->
<!-- MATERIALIZE SELECT INITIALIZATION                         -->
<!-- ========================================================= -->

<script>

document.addEventListener('DOMContentLoaded', function() {

    var elems = document.querySelectorAll('select');

    M.FormSelect.init(elems);

});

</script>

{% endblock %}
