{% extends "base.html" %}

{% block content %}
  <div class="container" >
    <div class="row">
      
        <h3>Wedstrijd informatie</h3>
       
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#systeeminfo">Systeem informatie</a></li>
              <li class="tab col s3"><a href="#ploeglijst">Ploeglijst</a></li>
              <li class="tab col s3"><a href="#doorkomsten">Doorkomsten</a></li>
              <li class="tab col s3"><a href="#missende_ploegen">Missende ploegen</a></li>
            </ul>
          </div>
          <div id="systeeminfo" class="col s12">

            <table>           
              <tbody>
                <tr>
                  <td>Versie</td>
                  <td>versie: 202610062233</td>
                </tr>
                <tr>
                  <td>Wisselpuntploeg</td>
                  <td>{{ config_load.checkpointteam }}</td>
                </tr>
                <tr>
                  <td>Etappe</td>
                  <td>{{ config_load.ETAPPE_NAAM }}</td>
                </tr>
                <tr>
                  <td>Internet</td>
                  <td>NOG INVULLEN</td>
                </tr>
                <tr>
                  <td>IP-adres</td>
                  <td>{{config_load.local_ip}}</td>
                </tr>
                <tr>
                  <td>Hostname</td>
                  <td>{{config_load.hostname}}</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div id="ploeglijst" class="col s12">
            <table>
              <tr>
                <th>Ploegnummer</th>
                <th>Ploegnaam</th>
              </tr>
              {% for ploeg in ploegen %}
                <tr>
                  <td>{{ ploeg["PLOEGNUMMER"] }}</td>
                  <td>{{ ploeg["PLOEG_NAAM"] }}</td>
                  
                </tr>
              {% endfor %}
            </table>
            

          </div>
          <div id="doorkomsten" class="col s12">
            <table>
              <tr>
                <th>Datum/Tijd</th>
                <th>Ploegnummer</th>
                <th>Sync</th>
              </tr>
              {% for doorkomst in doorkomsten %}
                <tr>
                  <td>{{ doorkomst["DATETIME"] }}</td>
                  <td>{{ doorkomst["PLOEG"] }}</td>
                  <td>{{ doorkomst["STATUS"] }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <div id="missende_ploegen" class="col s12">
          <table>
            <tr>
              <th>Ploegnummer</th>
              <th>Ploegnaam</th>
            </tr>
            {% for ploeg in missende_ploegen %}
              <tr>
                <td>{{ ploeg["PLOEGNUMMER"] }}</td>
                <td>{{ ploeg["PLOEG_NAAM"] }}</td>
              </tr>
            {% endfor %}
          </table>  
          
        </div>
      </div>

    </div>
  </div>

{% endblock %}