<b>Missende ploegen: {{ missende_ploeg_len }} van de {{ ploegen_len }}</b>

<table>
    <p><b>Doorkomsten</b></p>
    <tr>
        <th>Datum/Tijd</th>
        <th>Ploegnummer</th>
        <th>Sync</th>
    </tr>

    {% for doorkomst in doorkomsten %}
        <tr>
            <td>
                {{doorkomst["DATETIME"]}}
            </td>
            <td>
                {{doorkomst["PLOEG"]}}
            </td>
            <td>
                {{doorkomst["STATUS"]}}
            </td>
        </tr>
              
    {% endfor %}  
</table>

<table>
    <p><b>Missende ploegen</b></p>
    <tr>
        <th>Ploegnummer</th>
        <th>Ploegnaam</th>
    </tr>

    {% for ploeg in missende_ploeg %}
        <tr>
            <td>
                {{ploeg["PLOEGNUMMER"]}}
            </td>
            <td>
                {{ploeg["PLOEG_NAAM"]}}
            </td>
        </tr>
              
    {% endfor %}  
</table>
