<!DOCTYPE html>
<html> 

    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">     
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    </head>
    <body>
        <div class="container-fluid">
            {% include "navbar.html" %}
            
            <h1> Invoeren start </h1>
            
            <form method="POST">
                <div class="row">
                    
                    <div class="col-6">
                    
                        <div class="form-group">
                            <label for="bibnumber_input"> Hesnummer </label>
                            <input type="number" class="form-control" required id="bibnumber_input" name="bibnumber_input">
                        </div>
                        
                        <button class=" btn-lg btn-block" type="submit" name = "enter" id = "enter">
                            ENTER
                        </button>
                        
                    </div>
                    
                    <div class="col-6">
                        <div class="form-group">
                            <label for="starttime_input"> Starttijd </label>
                            <input type="time" class="form-control" step="1" required id="starttime_input" name="starttime_input">
                        </div>
                        
                        <div class="form-group">
                            <label for="startdate_input"> Start datum </label>
                            <input type="date" class="form-control" step="1" required id="startdate_input" name="startdate_input">
                        </div>
                    
                        <input class=" btn-lg btn-block" type="button" value="Nu" onclick="function_inserttime()"> 
                        
                    </div>
            
                </div>
            </form>
        </div>    
    </body>
    
<script type = "text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<script>

    function function_inserttime() {
        document.getElementById("starttime_input").value = new Date().toLocaleTimeString();
        var now = new Date();
        document.getElementById("startdate_input").valueAsDate = new Date();
        }
    
</script>


</html>
 

 

 