        <!--Navbar-->
        <nav class="navbar navbar-dark bg-dark">

            <!-- Navbar brand -->

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">{{ title }}</a>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/InvoerenDoorkomst">Invoeren doorkomst</a>
                    </li>
<!--                    <li class="nav-item">
                        <a class="nav-link" href="/InvoerenStraffen">Invoeren straffen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/InvoerenStart">Invoeren start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HesWissel">Hes wissel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/WijzigenDoorkomsten">Wijzigen doorkomsten</a>
                    </li>
-->                    <li class="nav-item">
                        <a class="nav-link" href="/Instellingen">Instellingen</a>
                    </li>
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->

        </nav>
    <!--/.Navbar-->
        
 

 

 