<!DOCTYPE html>
<html> 

    <head>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">     
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    </head>
    <body>
        <div class="container-fluid">
            {% include "navbar.html" %}
        
            Hier komt de mogelijkheid voor het wijzigen van invoer
        </div>    
    </body>
    
<script type = "text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

</html>
 

 

 